{% extends "layout.html" %}

{% block content %}

		<div id="ToDoList">
			<ul>
				<li v-if="todos.length <= 0">You do not have any to-dos yet. Add some!</li>
				<li v-for="todo in todos">
					{{ todo.text }}
					<button v-on:click="removeTodo($index)">X</button>
				</li>
			</ul>
			<input v-model="newTodo">
			<button v-on:click="addTodo">Add to-do</button>
		</div>

{% endblock %}

{% block static %}
		<script type="text/javascript">
			var todos = [[ current_user.todos|tojson ]];
			var user_id = [[ current_user.id ]];
		</script>
		<script src="[[url_for('static', filename='index.js')]]"></script>
{% endblock %}