{% extends "layout.html" %}

{% block content %}

		<a href="[[ url_for('auth.logout') ]]">Log out</a>

		<div id="ToDoList">
			<ul class="collection">
				<li v-for="todo in todos" href="" class="collection-item">
					{{ todo.text }}
					<button v-on:click="removeTodo($index)" class="btn-floating waves-effect waves-light">
						<i class="material-icons">delete</i>
					</button>
				</li>
			</ul>
			<div class="input-field">
				<input v-model="newTodo" type="text" name="newTodo">
				<label for="newTodo">To-do description</label>
			</div>
			<button v-on:click="addTodo" class="btn waves-effect waves-light">
				Add to-do<i class="material-icons right">note_add</i>
			</button>
		</div>

{% endblock %}

{% block static %}
		<script type="text/javascript">
			var todos = [[ current_user.todos|tojson ]];
			var user_id = [[ current_user.id ]];
		</script>
		<script src="[[url_for('static', filename='index.js')]]"></script>
{% endblock %}