<html>

	<head>
		<title>FlaskToDo</title>

		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<!-- SPACE FOR NAV HERE -->

		<div class="container">
		<div class="row">
		<div class="col s6 offset-s3">
		{% block content %}{% endblock %}
		</div>
		</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>		
		<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<script type="text/javascript">
				{% for message in messages %}
					Materialize.toast('[[ message ]]', 5000);
				{% endfor %}
				</script>
			{% endif %}
		{% endwith %}
		
		<link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='main.css') ]]">
		{% block static %}{% endblock %}
	</body>

</html>